CI_ENVIRONMENT = development

app.baseURL = http://localhost:8080/
app.forceGlobalSecureRequests = false

database.default.hostname = 127.0.0.1
database.default.database = finedu
database.default.username = TUO_UTENTE_MYSQL
database.default.password = TUA_PASSWORD_MYSQL
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

logger.threshold = 4
